<h1>New Appointment</h1>

<form (submit)="create()" #myForm='ngForm'>
  Date:
  <input type="date" name="date" [(ngModel)]="appointment.date"
  required>
  Time:
  <select name="time"
  [(ngModel)]="appointment.time"
  required>
    <option value="8:00 AM">8:00 AM</option>
    <option value="9:00 AM">9:00 AM</option>
    <option value="10:00 AM">10:00 AM</option>
    <option value="11:00 AM">11:00 AM</option>
    <option value="12:00 PM">12:00 PM</option>
    <option value="1:00 PM">1:00 PM</option>
    <option value="2:00 PM">2:00 PM</option>
    <option value="3:00 PM">3:00 PM</option>
    <option value="4:00 PM">4:00 PM</option>
    <option value="2:00 PM">5:00 PM</option>
  </select>
  <input type="textarea" name="complaint"
  [(ngModel)]="appointment.complaint" placeholder="Your Complaint Here"
  minlength="10"
  required>
  <button type="submit" [disabled]="!myForm.valid">Add Appointment </button>
</form>

<button [routerLink]="['/dashboard']">Cancel</button>
